.quiz-card {
  background-color: lightgrey;
  height: 100%;
}

#presentation {
  display: none;
}

a:link, a:visited {
  color: white;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
}

a:active, a:hover {
  color: cyan;
}
