<!--
============================================
; Title:  Hemminger NodeQuiz
; Author: Andrew Hemminger
; Date:  27 September 2019
; Description: NodeQuiz application
;===========================================
-->
<div>
  <h1>Quiz Selection</h1>
</div>

<br>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-">
      <!-- Quiz 101 card -->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Quiz 101</mat-card-title>
          <mat-card-subtitle>JSON APIs</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            This quiz covers the concepts around JSON APIs.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="mat-button">Take Quiz</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Quiz 102 card -->
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Quiz 102</mat-card-title>
          <mat-card-subtitle>Continuous Integration</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            This quiz covers the concepts around Continuous Integration.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="mat-button">Take Quiz</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Quiz 103 card -->
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Quiz 103</mat-card-title>
          <mat-card-subtitle>REST Methodologies</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            This quiz covers the concepts around REST Methodologies.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="mat-button">Take Quiz</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
