<!--
============================================
; Title:  Hemminger NodeQuiz
; Author: Andrew Hemminger
; Date:  6 October 2019
; Description: NodeQuiz application
;===========================================
-->
<br>

<div class="heading">
  <h2>Presentation {{presentationId}}</h2>
</div>

<div fxLayout="column" style="margin-left: 10%; width: 80%;">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>PrimeNG Carousel Quiz {{presentationId}}</mat-card-title>
        <mat-card-content>
            <p-carousel [value]="images" numVisible="1">
                <ng-template style="text-align: center;" let-item pTemplate="item">
                    <br><br>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div fxFlex>
                            <img src="./assets/images/{{item.image}}" width="80%">
                        </div>
                        <div fxFlex>
                            <p>{{item.name}}</p>
                        </div>
                    </div><br><br>
                </ng-template>
            </p-carousel>
        </mat-card-content>
        <mat-card-actions>
            <small>Presentation sourced from <a href="https://arhemminger.github.io/" target="_blank">https://arhemminger.github.io/</a></small>
        </mat-card-actions>
    </mat-card>
</div>

<div>
  <br>
</div>

