<!--
============================================
; Title:  Hemminger NodeQuiz
; Author: Andrew Hemminger
; Date:  27 September 2019
; Description: NodeQuiz application
;===========================================
-->
<div>
<!-- Page header -->
<header>
  <!-- Angular Material toolbar -->
  <mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
        <button mat-raised-button color="primary" class="mat-button" [routerLink]="['/']" >Node Quiz</button>
        <button mat-raised-button color="primary" class="mat-button" [routerLink]="['/cumulative-summary']" >Cumulative Summary</button>
      <div fxFlex></div>

      <!-- User Profile -->
      <button class="toolbar__icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

  <!-- Main page content -->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
