/* Importing prebuilt Angular Material theme */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.heading {
  text-align: center;
  padding: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }
